<h3>Датчик номер {{sensorId}} {{sensorStatus}}</h3>
<button [disabled]="!allowNewSensor" (click)="onCreateSensor()">Добавить датчик</button>
<p>{{sensorCreationStatus}}</p>

<input type="text" class="form-control" [(ngModel)]="sensorSn">
<P>{{sensorSn}}</P>

<p *ngFor="let SN of SNs">{{SN}}</p>

